<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.min.css">

    <title>SNE</title>
</head>
<body>
    <div class='container-fluid overflow-hidden'>
        <div class="row flex-nowrap shadow header">
            <div class="row col-3 m-0 ps-2 flex-nowrap">
                <div class="py-2 px-0 mx-2 icon-box">
                    <img class="rounded-circle icon-size icon-bg" src="https://i.ibb.co/0KQZwn7/icon.png">
                </div>
                <div class="py-2 px-0 mx-2 position-relative icon-box">
                    <i class="fas fa-search position-absolute top-50 text-secondary search-icon"></i>
                    <input type="search" class="form-control rounded-pill icon-size icon-bg search-input" id="search" placeholder="Tìm kiếm trên SNA">
                </div>
            </div>
            <div class="row col-6 d-none d-md-flex m-0">
                <div class="col col-sm-0 mx-2 p-0 py-1 position-relative text-center c-pointer">
                    <h3 class="m-0 py-2 rounded-custom menu-text-color"><i class="fas fa-hotel"></i></h3>
                    <span class="position-absolute start-0 bottom-0 underline-menu"></span>
                </div>
                <div class="col mx-2 p-0 py-1 text-center position-relative c-pointer">
                    <h3 class="m-0 py-2 text-secondary rounded-custom menu-unselect"><i class="fas fa-tv"></i></h3>
                    <span class="d-none position-absolute start-0 bottom-0 underline-menu"></span>
                </div>
                <div class="col mx-2 p-0 py-1 text-center position-relative c-pointer">
                    <h3 class="m-0 py-2 text-secondary rounded-custom menu-unselect"><i class="fas fa-comments-dollar"></i></h3>
                    <span class="d-none position-absolute start-0 bottom-0 underline-menu"></span>
                </div>
                <div class="col mx-2 p-0 py-1 text-center position-relative c-pointer">
                    <h3 class="m-0 py-2 text-secondary rounded-custom menu-unselect"><i class="fas fa-users"></i></h3>
                    <span class="d-none position-absolute start-0 bottom-0 underline-menu"></span>
                </div>
                <div class="col mx-2 p-0 py-1 text-center position-relative c-pointer">
                    <h3 class="m-0 py-2 text-secondary rounded-custom menu-unselect"><i class="fas fa-gamepad"></i></h3>
                    <span class="d-none position-absolute start-0 bottom-0 underline-menu"></span>
                </div>
            </div>
            <div class="w-auto d-flex flex-nowrap justify-content-end py-2 m-0 ms-auto">
                <div id="info-user" class="text-nowrap me-3 p-0 fw-bold rounded-pill icon-lg-size">
                    <img class="mx-1 d-inline-block rounded-circle icon-md-size" src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t1.0-1/p160x160/102394858_699896963920090_4742175252288676967_o.jpg?_nc_cat=110&ccb=2&_nc_sid=dbb9e7&_nc_ohc=XWb_uAFCXhgAX-xPKNA&_nc_ht=scontent.fsgn2-6.fna&tp=6&oh=0ebc08d8ca0ec61c54c669a64e0c6fc9&oe=60287F30" alt="">
                    Minh
                </div>
                <div class="me-3 p-0 text-center rounded-circle icon-size icon-hover icon-bg">
                    <i class="far fa-comments"></i>
                </div>
                <div id="signout-btn" class="p-0 text-center rounded-circle icon-size icon-hover icon-bg">
                    <i class="fas fa-door-open"></i>
                </div>
            </div>
        </div>

        <div class="row flex-nowrap main">
            <div class="col-lg-3 col-md-0 col-sm-0 col-xs-0 m-0 side-l-content">
            </div>
            <div class="col-lg-6 col-md-8 col-12 m-0 main-content">
                <div class="mb-3 p-3 position-relative bg-white shadow border rounded-custom">
                    <div class="row mb-3 m-0 p-0 flex-nowrap align-items-center">
                        <div class="icon-size">
                            <img id="post-avatar" class="d-inline-block rounded-circle icon-md-size" src="https://scontent.fsgn2-6.fna.fbcdn.net/v/t1.0-1/p160x160/102394858_699896963920090_4742175252288676967_o.jpg?_nc_cat=110&ccb=2&_nc_sid=dbb9e7&_nc_ohc=XWb_uAFCXhgAX-xPKNA&_nc_ht=scontent.fsgn2-6.fna&tp=6&oh=0ebc08d8ca0ec61c54c669a64e0c6fc9&oe=60287F30" alt="">
                        </div>
                        <input type="text" id="post-content" class="pe-5 form-control rounded-pill post-content">
                    </div>
                    <i id="post-btn" class="position-absolute text-end fs-4 fab fa-google-play"></i>
                    <div id="show-file"></div>
                    <div class="my-3 border"></div>
                    <div class="row px-2 fw-bold text-secondary">
                        <div class="col py-2 rounded-custom menu-unselect">
                            <label class="d-flex justify-content-center align-items-center c-pointer" for="get-file"><i class="me-2 text-success fs-4 fas fa-images"></i>Hình ảnh</label>
                            <input type="file" class="d-none" id="get-file" accept="image/*">
                        </div>
                        <div class="col position-relative d-flex justify-content-center align-items-center py-2 rounded-custom menu-unselect show-emoji">
                            <i class="me-2 text-warning fs-4 far fa-grin-squint"></i>
                            Biểu cảm
                            <div class="p-1 position-absolute emoji-board"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-lg-3 col-md-4 col-sm-0 m-0 pt-3 side-r-content">
                <div class="col-12">
                    <h5 class="ms-2 text-secondary">Sinh nhật</h5>
                    <div class="w-100 d-flex flex-nowrap p-2 rounded-custom menu-unselect">
                        <i class="ms-2 me-3 d-inline-block fs-1 icon-size fas fa-gift"></i>
                        <span class="w-auto d-flex align-items-center text-wrap">
                            <span>Hôm nay không ai sinh nhật <b>ahihi</b>.</span>
                        </span>
                    </div>
                    <div class="my-2 border"></div>
                    <h5 id="friend" class="ms-2 text-secondary">Người liên hệ</h5>
                </div>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/6184c439ae.js" crossorigin="anonymous"></script>
    <script src="../../libs/jquery/jquery-3.5.1.js"></script>
    <script src="../../libs/bootstrap/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(()=>{
            showPosts()

            showUserInfo()

            getEmoji((data) => {
                let allEmoji = ''

                data.forEach(emoji => {
                    allEmoji += `<div id="${emoji.character}" class="emoji d-inline rounded-circle">${emoji.character.split(' ')[0]}</div>`
                })

                $('.emoji-board').html(allEmoji)

                $('.emoji').click((e)=> getEmojiByID(e.currentTarget))
            })

            $('#get-file').change(()=>{
                const files = $('#get-file').prop('files')
                
                if(files && files[0]){
                    let reader = new FileReader()

                    reader.onload = (e) => {
                        $('#show-file').html(`
                            <img src="${e.target.result}" class="w-100 border rounded-custom">
                        `)
                        
                    }

                    reader.readAsDataURL(files[0])
                }
            })

            $('#post-btn').click(()=>{
                const content = $('.post-content').val()
                const email = localStorage.getItem('email')
                const date = (`${new Date()}`).split(' ')
                const time = date[2] + '-' + date[1] + '-' + date[3]

                $.ajax({
                    url: 'http://localhost:3000/posts',
                    type: 'POST',
                    data: JSON.stringify({
                        author: email,
                        content,
                        time,
                        reaction: {
                            like: 0,
                            haha: 0,
                            cry: 0,
                            love: 0
                        }
                    }),
                    contentType: 'application/json'
                }).done(data => {
                    $('.container-fluid').prepend(`
                        <div class="alert alert-success w-75 position-absolute">Đăng bài viết thành công.</div>
                    `)

                    setTimeout(()=> {
                        location.reload()
                    },500)
                })

            })

            function getUser(handler){
                $.ajax({
                    url: 'http://localhost:3000/users',
                    type: 'GET',
                    contentType: 'application/json'
                }).done((data)=>{
                    data.users.forEach(user => {
                        handler(user)
                    })
                })
            }
            
            function showPosts(){
                $.ajax({
                    url: 'http://localhost:3000/posts',
                    type: 'GET',
                    contentType: 'application/json' 
                }).done(data => {
                    data.posts.forEach(post => {
                        getUser((user)=>{
                            if(post.author == user.email){
                                const postComponent = `
                                    <div class="mb-3 p-3 bg-white shadow border rounded-custom">
                                        <div class="row mb-3 m-0 p-0 flex-nowrap align-items-center">
                                            <div class="icon-size">
                                                <img class="d-inline-block rounded-circle icon-md-size" src="${user.avatar}" alt="">
                                            </div>
                                            <div class="col-10 d-inline-block p-0 post-info">
                                                <p class="m-0"><span class="c-pointer name post-name">${user.fname} ${user.lname}</span></p>
                                                <p class="mb-0 post-date"><span class="text-secondary">${post.time}</span></p>
                                            </div>
                                        </div>
                                        <p>${post.content}</p>
                                        <div class="my-3 border"></div>
                                        <div class="row flex-nowrap px-2 fw-bold text-secondary">
                                            <label class="col py-2 c-pointer menu-unselect rounded-custom reaction" for="${post._id}-lk">
                                                <i class="fas fa-thumbs-up pe-1"></i>Like
                                            </label>
                                            <input type="radio" class="d-none" id="${post._id}-lk" name="${post._id}">

                                            <label class="col py-2 c-pointer menu-unselect rounded-custom reaction" for="${post._id}-ha">
                                                <i class="fas fa-grin-squint pe-1"></i>Haha
                                            </label>
                                            <input type="radio" class="d-none" id="${post._id}-ha" name="${post._id}">

                                            <label class="col py-2 c-pointer menu-unselect rounded-custom reaction" for="${post._id}-cr">
                                                <i class="fas fa-sad-tear pe-1"></i>Cry
                                            </label>
                                            <input type="radio" class="d-none" id="${post._id}-cr" name="${post._id}">

                                            <label class="col py-2 c-pointer menu-unselect rounded-custom reaction" for="${post._id}-lv">
                                                <i class="fas fa-heart pe-1"></i>Love
                                            </label>
                                            <input type="radio" class="d-none" id="${post._id}-lv" name="${post._id}">
                                        </div>
                                    </div>`

                                $('.main-content').append(postComponent)

                                $('input[name="'+ post._id +'"]').click(()=>{
                                    const checked = $('input[name="'+ post._id +'"]:checked')
                                    const unChecks = $('input[name="'+ post._id +'"]:not(:checked)')
                                    reaction(checked, unChecks)
                                })
                            }
                        })
                    })
                })
            }

            function showUserInfo(){
                getUser((user) => {
                    const email = localStorage.getItem('email')

                    if(user.email === email){
                            $('#info-user').html(`
                                <img class="mx-1 d-inline-block rounded-circle icon-md-size" src="${user.avatar}" alt="">
                                ${user.lname}
                            `)

                            $('#post-avatar').attr('src', user.avatar)

                            $('#post-content').attr('placeholder', `${user.lname} ơi, trứng rán cần mỡ - bắp có cần bơ?`)
                        } else{
                            $('#friend').after(`
                                <div class="d-flex align-items-center flex-nowrap p-2 rounded-custom menu-unselect">
                                    <img class="me-3 icon-size rounded-circle" src="${user.avatar}" alt="">
                                    <p class="m-0 name">${user.fname} ${user.lname}</p>
                                </div>
                            `)
                    }
                })
            }

            function reaction(checked, unChecks){
                let i = 0
                while(i < unChecks.length){
                    checkReaction(unChecks[i])
                    i++
                }

                if(checkReaction(checked)){
                    return
                }

                if(checked.attr('id').includes('lk')){
                    const checkedID = checked.attr('id')
                    $(`label[for="${checkedID}"]`).addClass('text-primary')
                }

                if(checked.attr('id').includes('ha')){
                    const checkedID = checked.attr('id')
                    $(`label[for="${checkedID}"]`).addClass('text-warning')
                }

                if(checked.attr('id').includes('cr')){
                    const checkedID = checked.attr('id')
                    $(`label[for="${checkedID}"]`).addClass('text-success')
                }

                if(checked.attr('id').includes('lv')){
                    const checkedID = checked.attr('id')
                    $(`label[for="${checkedID}"]`).addClass('text-danger')
                }
            }

            function checkReaction(element){
                const unCheckID = $(element).attr('id')

                if($(`label[for="${unCheckID}"]`).attr('class').includes('text-')){
                    let unCheckClass = $(`label[for="${unCheckID}"]`).attr('class').split(' ')

                    let j = 0
                    while(j < unCheckClass.length){
                        if(unCheckClass[j].includes('text-')){
                            unCheckClass.splice(j, 1)
                            $(`label[for="${unCheckID}"]`).attr('class', unCheckClass.join(' '))
                            return true
                        }
                        j++
                    }
                }

                return false
            }

            function getEmojiByID(element){
                const character = $(element).attr('id')
                $('.post-content').val(`${$('.post-content').val()}${character}`)
            }

            function getEmoji(callBack){
                $.getJSON('https://emoji-api.com/emojis?access_key=8dc971798f1b3ca9293d7d68e2357d749a8b2a63', (data)=>{
                    callBack(data)
                })
            }

            $('#signout-btn').click(()=>{
                window.location.replace('../LoginPage/index.html')
            })

        })
    </script>
</body>
</html>